Repository Leech-ru/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --ignore-unknown --write

feat: :ambulance: contacts section with tel: and mailto: finished
  src/widgets/footer/config/footer.config.ts
  src/widgets/footer/ui/footer.component.html
  src/widgets/footer/ui/footer.component.less
  src/widgets/footer/ui/footer.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat: :ambulance: footer adaptived for mobile
  src/widgets/footer/ui/footer.component.less
Due: prettier --ignore-unknown --write

feat: :ambulance: add cutsom-text for disabled button in leech-buy-form
  pnpm-lock.yaml
  src/features/leech/buy/ui/form/form.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore(angular.json): :wrench: change scss to less in angular config
  angular.json
Due: prettier --ignore-unknown --write

feat(cosmetics/catalog): :lipstick: add cosmetics callout
  src/app/app.routes.ts
  src/pages/cosmetics-catalog/index.ts
  src/pages/cosmetics-catalog/ui/callout/index.ts
  src/pages/cosmetics-catalog/ui/callout/ui/callout.component.html
  src/pages/cosmetics-catalog/ui/callout/ui/callout.component.less
  src/pages/cosmetics-catalog/ui/callout/ui/callout.component.ts
  src/pages/cosmetics-catalog/ui/page/page.component.html
  src/pages/cosmetics-catalog/ui/page/page.component.less
  src/pages/cosmetics-catalog/ui/page/page.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

refactor(cosmetics/catalog): :art: minor changes to folder structure
  .vscode/settings.json
  src/app/app.routes.ts
  src/pages/cosmetics-catalog/ui/callout/index.ts
  src/pages/cosmetics/catalog/index.ts
  src/pages/cosmetics/catalog/ui/callout/callout.component.html
  src/pages/cosmetics/catalog/ui/callout/callout.component.less
  src/pages/cosmetics/catalog/ui/callout/callout.component.ts
  src/pages/cosmetics/catalog/ui/page/page.component.html
  src/pages/cosmetics/catalog/ui/page/page.component.less
  src/pages/cosmetics/catalog/ui/page/page.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore(eslint): :art: add rule to force accessibitity modifier
  eslint.config.mjs
Due: none

refactor: :recycle: refactor app-callout
  src/pages/cosmetics/catalog/ui/callout/callout.component.html
  src/pages/cosmetics/catalog/ui/callout/callout.component.less
  src/pages/cosmetics/catalog/ui/callout/callout.component.ts
  src/shared/ui/callout/ui/callout.component.html
  src/shared/ui/callout/ui/callout.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

refactor: :recycle: change annotation-based inputs to signal-based inputs
  .vscode/settings.json
  src/entities/leech/ui/price/price.component.ts
  src/entities/leech/ui/size/size.component.ts
  src/pages/cosmetics/catalog/ui/page/page.component.html
  src/pages/cosmetics/catalog/ui/page/page.component.ts
  src/pages/home/ui/card/card.component.ts
  src/widgets/header/ui/drawer/link/link.component.ts
  src/widgets/header/ui/navigation/item/item.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

refactor: ♻️ move @typescript-eslint/explicit-member-accessibility rule to @typescript-eslint visual group
  eslint.config.mjs
Due: none

chore: 🔧 add pnpm-lock.yaml to .prettierignore
  .prettierignore
Due: none

fix: :bug: add signal call into html templates
  src/entities/leech/ui/price/price.component.html
  src/entities/leech/ui/size/size.component.html
  src/pages/home/ui/card/card.component.html
  src/shared/ui/callout/ui/callout.component.ts
  src/widgets/header/ui/drawer/link/link.component.html
  src/widgets/header/ui/navigation/item/item.component.html
Due: eslint --fix, prettier --ignore-unknown --write

fix: use typescript eslint config with type checking and fix type checking errors
  eslint.config.mjs
  src/pages/home/ui/page/page.component.ts
  src/shared/lib/forms/stepper/types.ts
  src/shared/lib/forms/validation/index.ts
  src/shared/lib/forms/validation/validators/name.ts
  src/widgets/header/ui/drawer/drawer.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore: add ngc to lint script
  package.json
Due: prettier --ignore-unknown --write

feat(leech/buy): add step save to query params
  eslint.config.mjs
  src/features/leech/buy/ui/form/form.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat(leech/buy): persist form value
  src/entities/leech/config/index.ts
  src/entities/leech/index.ts
  src/features/leech/buy/config/index.ts
  src/features/leech/buy/model/form.ts
  src/features/leech/buy/model/storage.ts
  src/features/leech/buy/ui/form/form.component.ts
  src/features/leech/buy/ui/steps/leech/leech.component.ts
  src/shared/lib/forms/index.ts
  src/shared/lib/forms/types.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix(home): fluid card
  src/pages/home/ui/card/card.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat(leech/buy): move to latest not disabled step on init
  src/features/leech/buy/ui/form/form.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix(leech/buy): properly set state if has persisted value
  src/features/leech/buy/model/form.ts
  src/shared/lib/forms/index.ts
  src/shared/lib/forms/utils.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix(leech/buy): replace url only if step not set in query params to avoid extra route in history
  src/features/leech/buy/ui/form/form.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix(leech/buy): reset submitted state too
  src/features/leech/buy/model/form.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix(leech/buy): handle edge case with manual page reload on last step after submit
  src/features/leech/buy/ui/form/form.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore: simplify project configuration
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  .prettierrc
  package.json
Due: prettier --ignore-unknown --write

chore: simplify eslint config
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write

fix: use case sensitive import sorting
  eslint.config.mjs
Due: none

chore: bump dev dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write

build: bump to angular 20 and bump other dependencies
  .husky/pre-commit
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/app.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore: remove unused configs from .vscode dir
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Due: prettier --ignore-unknown --write

chore: fix vscode lauch task name
  .vscode/launch.json
Due: prettier --ignore-unknown --write

chore: fix vscode lauch task name
  .vscode/tasks.json
Due: prettier --ignore-unknown --write

chore: add #!usr/bin/sh to pre-commit
  .husky/pre-commit
Due: none

chore: fix lint staged
  .husky/pre-commit
  package.json
Due: prettier --ignore-unknown --write

refactor(leech/buy): use new @switch and @case instead of deprecated ngSwitch
  src/features/leech/buy/ui/form/form.component.html
  src/features/leech/buy/ui/form/form.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

refactor: simplify code
  src/features/leech/buy/ui/form/form.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix(leech/buy): make ssr friendly localstorage api
  src/features/leech/buy/model/storage.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix(leech/buy): correctly format plurars
  src/features/leech/buy/ui/form/form.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat(cosmetics/search): add search-input for cosmetics
  package.json
  pnpm-lock.yaml
  src/app/app.routes.ts
  src/entities/cosmetic/index.ts
  src/entities/cosmetic/model/cosmetics.model.ts
  src/features/cosmetic/search/config/index.ts
  src/features/cosmetic/search/index.ts
  src/features/cosmetic/search/ui/search.component.html
  src/features/cosmetic/search/ui/search.component.less
  src/features/cosmetic/search/ui/search.component.ts
  src/features/leech/buy/ui/steps/leech/leech.component.ts
  src/pages/cosmetics/catalog/ui/page/page.component.html
  src/pages/cosmetics/catalog/ui/page/page.component.ts
  src/pages/home/config/cards.config.ts
  src/widgets/footer/config/footer.config.ts
  src/widgets/header/config/navigation.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix(cosmetics): rename (cosmetic -> cosmetic) in entities
  src/features/cosmetics/search/index.ts
  src/features/cosmetics/search/ui/search.component.html
  src/features/cosmetics/search/ui/search.component.less
  src/features/cosmetics/search/ui/search.component.ts
  src/pages/cosmetics/catalog/ui/page/page.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat(cosmetics/category): add routing for category-card
  src/app/app.routes.ts
  src/entities/cosmetic/model/cosmetics.model.ts
  src/entities/cosmetic/ui/category/category.component.html
  src/entities/cosmetic/ui/category/category.component.less
  src/entities/cosmetic/ui/category/category.component.ts
  src/entities/cosmetic/ui/item/item.component.html
  src/entities/cosmetic/ui/item/item.component.less
  src/entities/cosmetic/ui/item/item.component.ts
  src/features/cosmetics/search/config/index.ts
  src/pages/cosmetics/catalog/config/index.ts
  src/pages/cosmetics/catalog/ui/page/page.component.html
  src/pages/cosmetics/catalog/ui/page/page.component.less
  src/pages/cosmetics/catalog/ui/page/page.component.ts
  src/pages/cosmetics/category/index.ts
  src/pages/cosmetics/category/ui/category.component.html
  src/pages/cosmetics/category/ui/category.component.less
  src/pages/cosmetics/category/ui/category.component.ts
  src/pages/cosmetics/item/index.ts
  src/pages/cosmetics/item/ui/item.component.html
  src/pages/cosmetics/item/ui/item.component.less
  src/pages/cosmetics/item/ui/item.component.ts
  src/pages/home/config/cards.config.ts
  src/widgets/footer/config/footer.config.ts
  src/widgets/header/config/navigation.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat(cosmetics/category): add subtitle for category-list
  src/entities/cosmetic/index.ts
  src/pages/cosmetics/catalog/ui/page/page.component.html
  src/pages/cosmetics/catalog/ui/page/page.component.less
Due: eslint --fix, prettier --ignore-unknown --write

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --ignore-unknown --write: any of: *.{js,ts,css,scss,less,html,json,md}
