Repository Leech-ru/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --ignore-unknown --write

.lintstagedrc:

{
	"*.{js,ts}": "eslint --fix",
	"*.{js,ts,css,scss,less,html,json,md}": "prettier --ignore-unknown --write"
}

Fix user dropdown
  src/widgets/header/ui/header/header.html
  src/widgets/header/ui/header/header.ts
Due: eslint --fix, prettier --ignore-unknown --write

Fix auth auth interceptor
  src/app/config/browser.ts
  src/entities/auth/api/interceptors.ts
  src/entities/auth/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

Fix auth auth interceptor
  src/entities/auth/api/interceptors.ts
  src/features/(auth)/login/api/service.ts
  src/features/(auth)/register/api/service.ts
  src/widgets/header/ui/header/header.html
  src/widgets/header/ui/header/header.ts
  src/widgets/header/ui/navigation/item/item.html
  src/widgets/header/ui/navigation/item/item.ts
Due: eslint --fix, prettier --ignore-unknown --write

Improve loading UX for auth
  src/app/layouts/auth/auth.html
  src/app/layouts/auth/auth.less
  src/app/layouts/auth/auth.ts
Due: eslint --fix, prettier --ignore-unknown --write

Fix user dropdown on mobile
  src/widgets/header/ui/header/header.html
  src/widgets/header/ui/header/header.ts
Due: eslint --fix, prettier --ignore-unknown --write

Fix layouts
  src/app/config/routes.ts
  src/app/guards/admin.ts
  src/app/guards/auth.ts
  src/app/layouts/admin/admin.html
  src/app/layouts/admin/admin.less
  src/app/layouts/admin/admin.ts
  src/app/layouts/auth/auth.html
  src/app/layouts/auth/auth.less
  src/app/layouts/auth/auth.ts
Due: eslint --fix, prettier --ignore-unknown --write

Fix layout shifts
  src/app/layouts/admin/admin.html
  src/app/layouts/admin/admin.less
  src/app/layouts/auth/auth.html
  src/app/layouts/auth/auth.less
Due: prettier --ignore-unknown --write

Improve admin ui
  src/app/layouts/admin/admin.html
  src/app/layouts/admin/admin.ts
  src/entities/cosmetic/api/mock.ts
  src/entities/cosmetic/index.ts
  src/pages/(admin)/cosmetics/ui/page/page.html
  src/pages/(admin)/cosmetics/ui/page/page.less
  src/pages/(admin)/cosmetics/ui/page/page.ts
  src/pages/(cosmetics)/catalog/ui/page/page.less
  src/pages/(cosmetics)/catalog/ui/page/page.ts
  src/widgets/header/config/navigation.config.ts
  src/widgets/header/model/navigation.model.ts
  src/widgets/header/ui/drawer/drawer.html
  src/widgets/header/ui/drawer/drawer.less
  src/widgets/header/ui/header/header.html
  src/widgets/header/ui/header/header.less
  src/widgets/header/ui/header/header.ts
  src/widgets/header/ui/navigation/item/item.html
  src/widgets/header/ui/navigation/item/item.ts
  src/widgets/header/ui/navigation/navigation.html
  src/widgets/header/ui/navigation/navigation.ts
Due: eslint --fix, prettier --ignore-unknown --write

Fix avatar icon in user menu
  src/widgets/header/ui/header/header.html
  src/widgets/header/ui/header/header.ts
Due: eslint --fix, prettier --ignore-unknown --write

Improve routes DX and UX
  src/app/config/browser.ts
  src/app/config/routes.ts
  src/app/layouts/admin/admin.html
  src/app/layouts/admin/admin.ts
  src/app/layouts/admin/index.ts
  src/app/layouts/auth/auth.html
  src/app/layouts/auth/auth.less
  src/app/layouts/auth/auth.ts
  src/app/layouts/bare/bare.html
  src/app/layouts/bare/bare.less
  src/app/layouts/bare/bare.ts
  src/app/layouts/bare/index.ts
  src/app/layouts/base/base.html
  src/app/layouts/base/base.less
  src/app/layouts/base/base.ts
  src/app/layouts/base/data.ts
  src/app/layouts/base/index.ts
  src/app/layouts/full/full.html
  src/app/layouts/full/full.less
  src/app/layouts/full/full.ts
  src/app/layouts/full/index.ts
  src/pages/(leech)/order/ui/page.html
  src/pages/(leech)/order/ui/page.ts
  src/widgets/(admin)/tabs/index.ts
  src/widgets/(admin)/tabs/ui/tabs/index.ts
  src/widgets/(admin)/tabs/ui/tabs/tabs.html
  src/widgets/(admin)/tabs/ui/tabs/tabs.less
  src/widgets/(admin)/tabs/ui/tabs/tabs.ts
  src/widgets/header/ui/header/header.html
  src/widgets/header/ui/header/header.ts
Due: eslint --fix, prettier --ignore-unknown --write

Improve routes defenition
  src/app/config/routes.ts
  src/pages/home/config/cards.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

Hide admin panel button from header drawer
  src/app/layouts/base/base.ts
  src/widgets/header/ui/drawer/drawer.html
  src/widgets/header/ui/drawer/drawer.ts
Due: eslint --fix, prettier --ignore-unknown --write

Fix admin routes
  src/app/config/routes.ts
  src/pages/(admin)/cosmetics/ui/page/page.less
  src/pages/(admin)/info/index.ts
  src/pages/(admin)/info/ui/page/index.ts
  src/pages/(admin)/info/ui/page/page.html
  src/pages/(admin)/info/ui/page/page.less
  src/pages/(admin)/info/ui/page/page.ts
  src/pages/(admin)/partners/index.ts
  src/pages/(admin)/partners/ui/page/index.ts
  src/pages/(admin)/partners/ui/page/page.html
  src/pages/(admin)/partners/ui/page/page.less
  src/pages/(admin)/partners/ui/page/page.ts
  src/pages/(admin)/users/index.ts
  src/pages/(admin)/users/ui/page/index.ts
  src/pages/(admin)/users/ui/page/page.html
  src/pages/(admin)/users/ui/page/page.less
  src/pages/(admin)/users/ui/page/page.ts
  src/widgets/(admin)/tabs/ui/tabs/tabs.html
  src/widgets/(admin)/tabs/ui/tabs/tabs.less
Due: eslint --fix, prettier --ignore-unknown --write

Rename USER_RESOURCE to CURRENT_USER_RESOURCE
  src/app/guards/admin.ts
  src/app/guards/auth.ts
  src/app/layouts/base/base.ts
  src/entities/auth/api/interceptors.ts
  src/entities/user/api/resource.ts
  src/entities/user/api/resources/current-user.ts
  src/entities/user/index.ts
  src/features/(auth)/login/api/service.ts
  src/features/(auth)/logout/api/service.ts
  src/features/(auth)/register/api/service.ts
  src/widgets/header/ui/drawer/drawer.html
  src/widgets/header/ui/drawer/drawer.ts
  src/widgets/header/ui/header/header.html
  src/widgets/header/ui/header/header.ts
  src/widgets/header/ui/navigation/navigation.html
  src/widgets/header/ui/navigation/navigation.ts
Due: eslint --fix, prettier --ignore-unknown --write

Add initial users admin ui
  src/entities/user/api/resources/users.ts
  src/entities/user/api/service.ts
  src/entities/user/api/types.ts
  src/entities/user/index.ts
  src/entities/user/ui/role-badge/index.ts
  src/entities/user/ui/role-badge/role-badge.html
  src/entities/user/ui/role-badge/role-badge.less
  src/entities/user/ui/role-badge/role-badge.ts
  src/pages/(admin)/users/ui/page/page.html
  src/pages/(admin)/users/ui/page/page.less
  src/pages/(admin)/users/ui/page/page.ts
  src/widgets/header/ui/header/header.html
  src/widgets/header/ui/header/header.ts
Due: eslint --fix, prettier --ignore-unknown --write

Remove console log from users resource
  src/entities/user/api/resources/users.ts
Due: eslint --fix, prettier --ignore-unknown --write

Add pagination and user form
  src/app/config/browser.ts
  src/app/config/server.ts
  src/app/index.less
  src/entities/user/api/resources/users.ts
  src/entities/user/api/service.ts
  src/entities/user/api/types.ts
  src/entities/user/index.ts
  src/pages/(admin)/users/ui/edit-user-form/edit-user-form.html
  src/pages/(admin)/users/ui/edit-user-form/edit-user-form.less
  src/pages/(admin)/users/ui/edit-user-form/edit-user-form.ts
  src/pages/(admin)/users/ui/edit-user-form/index.ts
  src/pages/(admin)/users/ui/page/page.html
  src/pages/(admin)/users/ui/page/page.ts
  src/widgets/header/ui/header/header.html
Due: eslint --fix, prettier --ignore-unknown --write

Simplify code
  src/pages/(admin)/users/ui/edit-user-form/edit-user-form.html
Due: prettier --ignore-unknown --write

Improve edit user form UX
  src/pages/(admin)/users/ui/edit-user-form/edit-user-form.html
  src/pages/(admin)/users/ui/edit-user-form/edit-user-form.ts
  src/pages/(admin)/users/ui/edit-user-form/index.ts
  src/pages/(admin)/users/ui/edit-user-form/state.ts
  src/pages/(admin)/users/ui/page/page.html
  src/pages/(admin)/users/ui/page/page.ts
  src/widgets/header/ui/header/header.html
Due: eslint --fix, prettier --ignore-unknown --write

Fix roles
  src/entities/user/ui/role-badge/role-badge.ts
  src/pages/(admin)/users/ui/edit-user-form/edit-user-form.html
  src/pages/(admin)/users/ui/edit-user-form/edit-user-form.ts
  src/pages/(admin)/users/ui/page/page.html
  src/pages/(admin)/users/ui/page/page.ts
  src/widgets/header/ui/header/header.html
Due: eslint --fix, prettier --ignore-unknown --write

Fix user avatar
  src/widgets/header/ui/header/header.html
Due: prettier --ignore-unknown --write

Fix contract with api
  src/entities/user/api/service.ts
  src/entities/user/api/types.ts
  src/entities/user/index.ts
  src/pages/(admin)/users/ui/page/page.html
  src/pages/(admin)/users/ui/page/page.ts
Due: eslint --fix, prettier --ignore-unknown --write

Improve navigation UX
  AGENTS.md
  src/pages/(admin)/users/ui/page/page.html
  src/pages/(admin)/users/ui/page/page.ts
  src/widgets/header/config/navigation.config.ts
  src/widgets/header/model/navigation.model.ts
  src/widgets/header/ui/drawer/drawer.html
  src/widgets/header/ui/drawer/drawer.less
  src/widgets/header/ui/drawer/drawer.ts
  src/widgets/header/ui/header/header.html
  src/widgets/header/ui/header/header.ts
  src/widgets/header/ui/navigation/item/item.html
Due: eslint --fix, prettier --ignore-unknown --write

Remove header from drawer
  src/widgets/header/ui/drawer/drawer.html
  src/widgets/header/ui/drawer/drawer.less
Due: prettier --ignore-unknown --write

Add custom scrolling logic to admin tabs
  src/pages/(admin)/users/ui/page/page.less
  src/widgets/(admin)/tabs/ui/tabs/tabs.html
  src/widgets/(admin)/tabs/ui/tabs/tabs.less
  src/widgets/(admin)/tabs/ui/tabs/tabs.ts
  src/widgets/header/ui/drawer/drawer.less
  src/widgets/header/ui/drawer/drawer.ts
  src/widgets/header/ui/header/header.less
Due: eslint --fix, prettier --ignore-unknown --write

Add admin categories
  src/app/config/routes.ts
  src/entities/cosmetic/api/cosmetic.service.ts
  src/entities/cosmetic/api/cosmetic.service.types.ts
  src/entities/cosmetic/api/mock.ts
  src/entities/cosmetic/api/resources/categories.ts
  src/entities/cosmetic/index.ts
  src/entities/cosmetic/model/cosmetic.converter.ts
  src/entities/cosmetic/model/cosmetics.model.ts
  src/entities/cosmetic/model/imagesUrl.ts
  src/entities/cosmetic/store/cosmetic.store.ts
  src/entities/cosmetic/ui/category-form/category-form.html
  src/entities/cosmetic/ui/category-form/category-form.less
  src/entities/cosmetic/ui/category-form/category-form.ts
  src/entities/cosmetic/ui/category-form/index.ts
  src/entities/cosmetic/ui/category/category.html
  src/entities/cosmetic/ui/category/category.ts
  src/pages/(admin)/(cosmetics)/categories/index.ts
  src/pages/(admin)/(cosmetics)/categories/ui/page/index.ts
  src/pages/(admin)/(cosmetics)/categories/ui/page/page.html
  src/pages/(admin)/(cosmetics)/categories/ui/page/page.less
  src/pages/(admin)/(cosmetics)/categories/ui/page/page.ts
  src/pages/(admin)/(cosmetics)/category/index.ts
  src/pages/(admin)/(cosmetics)/category/lib/category.resolver.ts
  src/pages/(admin)/(cosmetics)/category/ui/page/index.ts
  src/pages/(admin)/(cosmetics)/category/ui/page/page.html
  src/pages/(admin)/(cosmetics)/category/ui/page/page.less
  src/pages/(admin)/(cosmetics)/category/ui/page/page.ts
  src/pages/(admin)/cosmetics/index.ts
  src/pages/(admin)/cosmetics/ui/page/index.ts
  src/pages/(admin)/cosmetics/ui/page/page.html
  src/pages/(admin)/cosmetics/ui/page/page.less
  src/pages/(admin)/cosmetics/ui/page/page.ts
  src/pages/(cosmetics)/catalog/ui/page/page.html
  src/pages/(cosmetics)/catalog/ui/page/page.ts
  src/widgets/(admin)/tabs/ui/tabs/tabs.less
Due: eslint --fix, prettier --ignore-unknown --write

Fix categories
  src/entities/cosmetic/ui/category-form/category-form.html
  src/entities/cosmetic/ui/category-form/category-form.less
  src/entities/cosmetic/ui/category-form/category-form.ts
  src/pages/(admin)/(cosmetics)/category/ui/page/page.html
  src/pages/(admin)/(cosmetics)/category/ui/page/page.ts
Due: eslint --fix, prettier --ignore-unknown --write

Remove dead code
  AGENTS.md
  package-lock.json
  package.json
  src/app/config/browser.ts
  src/entities/auth/api/interceptors/refresh.ts
  src/entities/auth/index.ts
  src/entities/info/api/info.service.ts
  src/entities/info/api/info.service.types.ts
  src/entities/info/config/contact.config.ts
  src/entities/info/index.ts
  src/entities/info/model/converters.ts
  src/entities/info/store/info.store.ts
  src/entities/partner/api/partner.service.ts
  src/entities/partner/api/partner.service.types.ts
  src/entities/partner/index.ts
  src/entities/partner/store/partner.store.ts
  src/features/(leech)/order/api/service.ts
  src/features/(leech)/order/api/types.ts
  src/features/(leech)/order/index.ts
  src/features/(leech)/order/model/form.ts
  src/features/(leech)/order/store/order.store.ts
  src/features/(leech)/order/ui/form/form.ts
Due: eslint --fix, prettier --ignore-unknown --write

Improve package.json
  .npmrc
  AGENTS.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Fix theme color
  src/app/index.html
  src/widgets/header/ui/drawer/drawer.html
  src/widgets/header/ui/header/header.html
Due: prettier --ignore-unknown --write

Add typecheck script
  package.json
Due: prettier --ignore-unknown --write

Add typecheck to pre-commit git hook
  scripts/git/hooks/pre-commit
Due: none

Update README.md
  README.md
Due: prettier --ignore-unknown --write

Add i18n
  angular.json
  package-lock.json
  package.json
  src/app/config/browser.ts
  src/app/config/routes.ts
  src/app/entry.ssr.ts
  src/shared/i18n/locales/messages.en.xlf
  src/shared/i18n/locales/messages.xlf
  src/widgets/header/ui/header/header.html
  src/widgets/header/ui/header/header.less
  src/widgets/header/ui/header/header.ts
  tsconfig.json
  vercel.json
Due: eslint --fix, prettier --ignore-unknown --write

Localize some part of ui
  package.json
  src/app/config/routes.ts
  src/pages/home/ui/page/page.html
  src/shared/i18n/locales/messages.en.xlf
  src/shared/i18n/locales/messages.xlf
  src/widgets/header/config/navigation.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

Refactor resources
  src/app/config/browser.ts
  src/entities/cosmetic/api/mock.ts
  src/entities/cosmetic/api/resources/categories.ts
  src/entities/cosmetic/api/service.ts
  src/entities/cosmetic/api/types.ts
  src/entities/cosmetic/index.ts
  src/entities/cosmetic/model/cosmetic.converter.ts
  src/entities/cosmetic/model/cosmetics.model.ts
  src/entities/user/api/resources/users.ts
  src/entities/user/api/service.ts
  src/entities/user/api/types.ts
  src/entities/user/config/roles.ts
  src/entities/user/index.ts
  src/entities/user/lib/roles.ts
  src/pages/(admin)/(cosmetics)/categories/ui/page/page.html
  src/pages/(admin)/(cosmetics)/categories/ui/page/page.ts
  src/pages/(admin)/(cosmetics)/category/lib/category.resolver.ts
  src/pages/(admin)/users/ui/edit-user-form/dialog.ts
  src/pages/(admin)/users/ui/edit-user-form/edit-user-form.html
  src/pages/(admin)/users/ui/edit-user-form/edit-user-form.ts
  src/pages/(admin)/users/ui/edit-user-form/index.ts
  src/pages/(admin)/users/ui/edit-user-form/state.ts
  src/pages/(admin)/users/ui/page/page.html
  src/pages/(admin)/users/ui/page/page.ts
  src/shared/api/constants.ts
  src/shared/api/index.ts
  src/shared/api/types.ts
Due: eslint --fix, prettier --ignore-unknown --write

Refactor resources
  src/entities/cosmetic/api/resources/categories.ts
  src/entities/user/api/resources/users.ts
  src/pages/(admin)/(cosmetics)/categories/ui/page/page.html
  src/pages/(admin)/(cosmetics)/categories/ui/page/page.ts
  src/pages/(admin)/users/ui/page/page.html
  src/pages/(admin)/users/ui/page/page.ts
Due: eslint --fix, prettier --ignore-unknown --write
