Repository Leech-ru/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --ignore-unknown --write

fix(footer): use action-grayscale appearance for links
  src/widgets/footer/ui/footer.component.html
Due: prettier --ignore-unknown --write

fix(callout): use link input name instead of routerLink to avoid naming conflicts
  src/pages/home/ui/page/page.component.html
  src/shared/ui/callout/ui/callout.component.html
  src/shared/ui/callout/ui/callout.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat(home): add main cards
  public/assets/about-our-center.jpg
  public/assets/cosmetics-catalog.jpg
  public/assets/medical-leech-wholesale.jpg
  src/pages/home/config/cards.config.ts
  src/pages/home/model/cards.model.ts
  src/pages/home/ui/card/card.component.html
  src/pages/home/ui/card/card.component.less
  src/pages/home/ui/card/card.component.ts
  src/pages/home/ui/page/page.component.html
  src/pages/home/ui/page/page.component.less
  src/pages/home/ui/page/page.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat(home): use hover effects only if hover is supported
  src/pages/home/ui/card/card.component.less
Due: prettier --ignore-unknown --write

fix(home/card): apply lower aspect ratio for fluid cards only large screens
  src/pages/home/ui/card/card.component.less
Due: prettier --ignore-unknown --write

perf(home): optimize images with NgOptimizedImage
  src/pages/home/ui/card/card.component.html
  src/pages/home/ui/card/card.component.less
  src/pages/home/ui/card/card.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat: add scroll behavior smooth
  src/styles.scss
Due: prettier --ignore-unknown --write

docs: improve comments in global styles file
  src/styles.scss
Due: prettier --ignore-unknown --write

docs(home): add jsdoc for home page card interface
  src/pages/home/model/cards.model.ts
Due: eslint --fix, prettier --ignore-unknown --write

style: format code
  pnpm-lock.yaml
Due: none

refactor: rename navigation link to navigation item
  src/widgets/header/ui/navigation/item/item.component.html
  src/widgets/header/ui/navigation/item/item.component.scss
  src/widgets/header/ui/navigation/item/item.component.ts
  src/widgets/header/ui/navigation/navigation.component.html
  src/widgets/header/ui/navigation/navigation.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat: home add quality section
  src/pages/home/ui/card/card.component.ts
  src/pages/home/ui/page/page.component.html
  src/pages/home/ui/page/page.component.ts
  src/pages/home/ui/quality/quality.component.html
  src/pages/home/ui/quality/quality.component.less
  src/pages/home/ui/quality/quality.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix(header/drawer): remove hint
  src/widgets/header/ui/drawer/drawer.component.html
  src/widgets/header/ui/drawer/drawer.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix(home/quality): use smaller font for heading on mobile
  src/pages/home/ui/quality/quality.component.html
  src/pages/home/ui/quality/quality.component.less
Due: prettier --ignore-unknown --write

refactor(footer): remove unused imports
  src/widgets/footer/ui/footer.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat(home): add bottom margins to callouts
  src/pages/home/ui/page/page.component.html
Due: prettier --ignore-unknown --write

fix(home): use better system for spacing
  src/pages/home/ui/page/page.component.html
  src/pages/home/ui/page/page.component.less
  src/pages/home/ui/quality/quality.component.html
  src/shared/ui/callout/ui/callout.component.less
Due: prettier --ignore-unknown --write

fix: fonts
  .gitignore
  src/index.html
Due: prettier --ignore-unknown --write

feat(SEO): :mag: add robots.txt
  public/robots.txt
Due: none

feat(SEO): :mag: add description meta tag
  .vscode/settings.json
  src/pages/home/ui/page/page.component.ts
  src/widgets/header/ui/logo/logo.component.html
Due: eslint --fix, prettier --ignore-unknown --write

refactor(home): simplify code
  src/pages/home/ui/page/page.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore: remove .editorconfig
  .editorconfig
Due: none

perf: use fontsource instead of google fonts
  angular.json
  package.json
  pnpm-lock.yaml
  src/index.html
Due: prettier --ignore-unknown --write

fix: use correct font name
  src/styles.scss
Due: prettier --ignore-unknown --write

fix(home/quality): use calendar icon instead of gift icon
  src/pages/home/ui/quality/quality.component.html
Due: prettier --ignore-unknown --write

fix: improve colors contrast
  src/styles.scss
Due: prettier --ignore-unknown --write

fix: use higher resolution for medical leech wholesale image
  public/assets/medical-leech-wholesale.jpg
Due: none

fix(footer): make links bigger and use grid instead of flex
  src/widgets/footer/ui/footer.component.html
  src/widgets/footer/ui/footer.component.less
  src/widgets/footer/ui/footer.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix(footer): remove link that does not exist in design
  src/widgets/footer/config/footer.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat(footer): add cosmetics section
  src/widgets/footer/config/footer.config.ts
  src/widgets/footer/ui/footer.component.less
Due: eslint --fix, prettier --ignore-unknown --write

refactor(home/quality): use repeat for grid
  src/pages/home/ui/quality/quality.component.less
Due: prettier --ignore-unknown --write

fix: use better spacing for mobile
  src/widgets/footer/ui/footer.component.less
  src/widgets/header/ui/drawer/drawer.component.scss
  src/widgets/header/ui/header/header.component.less
  src/widgets/header/ui/header/header.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

refactor: use less instead of scss
  angular.json
  src/app/app.component.less
  src/app/app.component.ts
  src/pages/index/ui/index.page.component.less
  src/pages/index/ui/index.page.component.ts
  src/styles.less
  src/widgets/header/ui/drawer/drawer.component.less
  src/widgets/header/ui/drawer/drawer.component.ts
  src/widgets/header/ui/logo/logo.component.less
  src/widgets/header/ui/logo/logo.component.ts
  src/widgets/header/ui/navigation/item/item.component.less
  src/widgets/header/ui/navigation/item/item.component.ts
  src/widgets/header/ui/navigation/navigation.component.less
  src/widgets/header/ui/navigation/navigation.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: icons blink
  src/app/app.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: drawer icon
  src/widgets/header/ui/header/header.component.html
  src/widgets/header/ui/header/header.component.less
  src/widgets/header/ui/header/header.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat: :ambulance: footer model update
  src/widgets/footer/model/footer.model.ts
Due: eslint --fix, prettier --ignore-unknown --write

perf: use change detection strategy on push for all components
  pnpm-lock.yaml
  src/pages/home/ui/card/card.component.ts
  src/pages/home/ui/page/page.component.ts
  src/pages/home/ui/quality/quality.component.ts
  src/pages/index/ui/index.page.component.ts
  src/shared/ui/callout/ui/callout.component.ts
  src/widgets/header/ui/drawer/link/link.component.ts
  src/widgets/header/ui/header/header.component.ts
  src/widgets/header/ui/logo/logo.component.ts
  src/widgets/header/ui/navigation/item/item.component.ts
  src/widgets/header/ui/navigation/navigation.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: use leech/buy links on home page instead of cosmetics/buy
  src/pages/home/ui/page/page.component.html
Due: prettier --ignore-unknown --write

refactor(home): simplify card code
  src/pages/home/config/cards.config.ts
  src/pages/home/model/cards.model.ts
  src/pages/home/ui/card/card.component.html
  src/pages/home/ui/card/card.component.ts
  src/pages/home/ui/page/page.component.html
Due: eslint --fix, prettier --ignore-unknown --write

feat: add contact section to home page and add contact page
  src/app/app.routes.ts
  src/pages/contact/index.ts
  src/pages/contact/ui/page.component.html
  src/pages/contact/ui/page.component.less
  src/pages/contact/ui/page.component.ts
  src/pages/home/ui/card/card.component.less
  src/pages/home/ui/page/page.component.html
  src/pages/home/ui/page/page.component.ts
  src/widgets/contact/config/contact.config.ts
  src/widgets/contact/index.ts
  src/widgets/contact/model/contact.model.ts
  src/widgets/contact/ui/contact.component.html
  src/widgets/contact/ui/contact.component.less
  src/widgets/contact/ui/contact.component.ts
Due: eslint --fix, prettier --ignore-unknown --write

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --ignore-unknown --write: any of: *.{js,ts,css,scss,less,html,json,md}
