Repository Leech-ru/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --ignore-unknown --write

Add opencode MCPs
  opencode.json
Due: prettier --ignore-unknown --write

Fix OpenAPI spec url
  AGENTS.md
Due: prettier --ignore-unknown --write

Improve AGENTS.md
  AGENTS.md
  opencode.json
Due: prettier --ignore-unknown --write

Fix i18n
  angular.json
  package-lock.json
  package.json
  src/features/(leech)/order/lib/forms/stepper/index.ts
  src/features/(leech)/order/lib/forms/stepper/types.ts
  src/features/(leech)/order/model/form.ts
  src/features/(leech)/order/ui/form/form.html
  src/features/(leech)/order/ui/form/form.ts
  src/pages/(cosmetics)/category/ui/page/page.html
  src/shared/i18n/locales/messages.en.xlf
  src/shared/i18n/locales/messages.xlf
Due: eslint --fix, prettier --ignore-unknown --write

Simplify leech form
  src/features/(leech)/order/lib/forms/index.ts
  src/features/(leech)/order/lib/forms/stepper/index.ts
  src/features/(leech)/order/lib/forms/stepper/types.ts
  src/features/(leech)/order/lib/index.ts
  src/features/(leech)/order/ui/form/form.html
  src/features/(leech)/order/ui/form/form.ts
Due: eslint --fix, prettier --ignore-unknown --write

Rewrite leech form to signals
  src/features/(leech)/order/index.ts
  src/features/(leech)/order/lib/forms/index.ts
  src/features/(leech)/order/lib/forms/types.ts
  src/features/(leech)/order/lib/forms/utils.ts
  src/features/(leech)/order/lib/forms/validation/index.ts
  src/features/(leech)/order/lib/forms/validation/types.ts
  src/features/(leech)/order/lib/forms/validation/utils.ts
  src/features/(leech)/order/lib/forms/validation/validators/name.ts
  src/features/(leech)/order/lib/index.ts
  src/features/(leech)/order/model/form.ts
  src/features/(leech)/order/model/storage.ts
  src/features/(leech)/order/ui/form/form.html
  src/features/(leech)/order/ui/form/form.ts
  src/features/(leech)/order/ui/steps/contact/contact.html
  src/features/(leech)/order/ui/steps/contact/contact.ts
  src/features/(leech)/order/ui/steps/finish/finish.html
  src/features/(leech)/order/ui/steps/finish/finish.ts
  src/features/(leech)/order/ui/steps/leech/leech.html
  src/features/(leech)/order/ui/steps/leech/leech.ts
  src/features/(leech)/order/ui/steps/package/package.html
  src/features/(leech)/order/ui/steps/package/package.ts
  src/shared/i18n/locales/messages.en.xlf
  src/shared/i18n/locales/messages.xlf
Due: eslint --fix, prettier --ignore-unknown --write

Fix SSR for cosmetics and make admin ui smoother
  src/entities/cosmetic/api/resources/categories.ts
  src/pages/(admin)/(cosmetics)/categories/ui/page/page.html
  src/pages/(admin)/users/ui/page/page.html
Due: eslint --fix, prettier --ignore-unknown --write

Add optimistic UI to cosmetics admin
  src/entities/cosmetic/api/resources/categories.ts
  src/entities/cosmetic/ui/category-form/category-form.ts
  src/features/(cosmetic)/create-category/api/service.ts
  src/features/(cosmetic)/create-category/index.ts
  src/features/(cosmetic)/delete-category/api/service.ts
  src/features/(cosmetic)/delete-category/index.ts
  src/features/(cosmetic)/update-category/api/service.ts
  src/features/(cosmetic)/update-category/index.ts
  src/pages/(admin)/(cosmetics)/categories/ui/page/page.html
  src/pages/(admin)/(cosmetics)/category/ui/page/page.ts
Due: eslint --fix, prettier --ignore-unknown --write

Remove unused injects
  src/entities/cosmetic/ui/category-form/category-form.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat: add leech wiki docs with Decap CMS
  angular.json
  content/leech/biochemistry.md
  content/leech/collection.md
  content/leech/index.md
  content/leech/references.md
  content/leech/wild.md
  public/admin/config.yml
  public/admin/index.html
  src/app/config/routes.ts
  src/entities/leech-docs/api/service.ts
  src/entities/leech-docs/index.ts
  src/entities/leech-docs/ui/markdown/markdown.ts
  src/pages/(leech)/docs/index.ts
  src/pages/(leech)/docs/ui/page/index.ts
  src/pages/(leech)/docs/ui/page/page.html
  src/pages/(leech)/docs/ui/page/page.less
  src/pages/(leech)/docs/ui/page/page.ts
  src/widgets/footer/config/footer.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

Add mock category detail items
  src/app/config/routes.ts
  src/entities/cosmetic/config/categories.ts
  src/entities/cosmetic/index.ts
  src/entities/cosmetic/model/cosmetic.converter.ts
  src/entities/cosmetic/ui/item/item.html
  src/entities/cosmetic/ui/item/item.less
  src/entities/cosmetic/ui/item/item.ts
  src/pages/(admin)/(cosmetics)/category/lib/category.resolver.ts
  src/pages/(cosmetics)/category/mock/index.ts
  src/pages/(cosmetics)/category/ui/page/page.html
  src/pages/(cosmetics)/category/ui/page/page.less
  src/pages/(cosmetics)/category/ui/page/page.ts
  src/pages/(cosmetics)/item/index.ts
  src/pages/(cosmetics)/item/lib/item.resolver.ts
  src/pages/(cosmetics)/item/mock/index.ts
  src/pages/(cosmetics)/item/ui/page/page.html
  src/pages/(cosmetics)/item/ui/page/page.ts
Due: eslint --fix, prettier --ignore-unknown --write

Fix translations
  src/shared/i18n/locales/messages.en.xlf
  src/shared/i18n/locales/messages.xlf
Due: none

fix: add i18n for leech docs page
  .idea/.gitignore
  .idea/leech-frontend.iml
  .idea/modules.xml
  .idea/vcs.xml
  .npmrc
  package-lock.json
  package.json
  src/pages/(leech)/docs/ui/page/page.html
  src/shared/i18n/locales/messages.en.xlf
  src/shared/i18n/locales/messages.xlf
Due: prettier --ignore-unknown --write

fix: rename admin to cms to avoid route conflict
  public/cms/config.yml
  public/cms/index.html
Due: prettier --ignore-unknown --write

feat: add vertical tabs navigation to leech docs
  src/pages/(leech)/docs/ui/page/page.html
  src/pages/(leech)/docs/ui/page/page.less
  src/pages/(leech)/docs/ui/page/page.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: match taiga tabs example layout
  src/pages/(leech)/docs/ui/page/page.html
  src/pages/(leech)/docs/ui/page/page.less
Due: prettier --ignore-unknown --write

fix: move config.yml to public root for Decap CMS
  public/cms/config.yml
  public/cms/index.html
  public/config.yml
Due: prettier --ignore-unknown --write

fix: use locale path for content
  content/en/leech/biochemistry.md
  content/en/leech/collection.md
  content/en/leech/index.md
  content/en/leech/references.md
  content/en/leech/wild.md
  src/entities/leech-docs/api/service.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: restore proper config.yml for Decap CMS
  public/config.yml
Due: none

fix: use correct content path /content/leech/
  public/config.yml
  src/entities/leech-docs/api/service.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: use static nav items, load content from files
  src/pages/(leech)/docs/ui/page/page.html
  src/pages/(leech)/docs/ui/page/page.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat: improve leech docs page
  .gitignore
  .idea/.gitignore
  .idea/leech-frontend.iml
  .idea/modules.xml
  .idea/vcs.xml
  .npmrc
  angular.json
  docs/leech-content.md
  package-lock.json
  package.json
  public/cms/index.html
  public/config.yml
  public/images/leech/.gitkeep
  src/app/config/routes.ts
  src/app/prerender-routes.txt
  src/entities/leech-docs/api/service.ts
  src/entities/leech-docs/index.ts
  src/entities/leech-docs/model/docs.ts
  src/entities/leech-docs/model/index.ts
  src/entities/leech-docs/ui/markdown/markdown.html
  src/entities/leech-docs/ui/markdown/markdown.less
  src/entities/leech-docs/ui/markdown/markdown.ts
  src/pages/(leech)/docs/index.ts
  src/pages/(leech)/docs/model/resolver.ts
  src/pages/(leech)/docs/ui/page/page.html
  src/pages/(leech)/docs/ui/page/page.less
  src/pages/(leech)/docs/ui/page/page.ts
  src/shared/i18n/locales/messages.en.xlf
  src/shared/i18n/locales/messages.xlf
Due: eslint --fix, prettier --ignore-unknown --write

.idea add
  .idea/.gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/frontend-original.iml
  .idea/modules.xml
  .idea/prettier.xml
  .idea/vcs.xml
Due: none

Refine leech docs page UX
  DESIGN.json
  DESIGN.md
  PRODUCT.md
  src/app/config/browser.ts
  src/pages/(leech)/docs/ui/page/page.html
  src/pages/(leech)/docs/ui/page/page.less
  src/pages/(leech)/docs/ui/page/page.ts
  src/shared/i18n/locales/messages.en.xlf
Due: eslint --fix, prettier --ignore-unknown --write

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --ignore-unknown --write: any of: *.{js,ts,css,scss,less,html,json,md}
